<!-- Main Section -->
<section class="wrapper container">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
			<h3>Recents News</h3>
			<hr class="bg-secondary">

			<!-- Source: _includes/widgets/recent-news.html -->
			{% include widgets/recent-news.html %}

		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

			<h3>News Archives</h3>
			<hr class="bg-secondary">
			<!-- Source : _includes/widgets/archives.html -->
			{% include widgets/archives.html %}

			<h3>Categories</h3>
			<hr class="bg-secondary">

			<div class="mb-5">
				<!-- Source: _includes/widgets/category-badges.html -->
				{% include widgets/categories-badges.html %}
			</div>

			<h3>Schedules</h3>
			<hr class="bg-secondary">

			{% include widgets/schedules.html %}

		</div>
	</div>
</section>