<!-- News -->
<marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
	<ul class="list-inline">
		<li class="list-inline-item">
			<div class="clearfix news-item">
				<img class="float-left mr-3 mt-2 rounded-circle" src="images/news-1.png" alt="Generic placeholder image" width="35" height="35">
				<div class="news-body float-right">
					<strong>Lorem ipsum dolor.</strong> <br>
					<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus dolore eos, ratione illum deserunt iusto!</small>
				</div>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="clearfix news-item">
				<img class="float-left mr-3 mt-2 rounded-circle" src="images/news-2.png" alt="Generic placeholder image" width="35" height="35">
				<div class="news-body float-right">
					<strong>Lorem ipsum dolor.</strong> <br>
					<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex, quibusdam officia, recusandae repudiandae ipsam.</small>
				</div>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="clearfix news-item">
				<img class="float-left mr-3 mt-2 rounded-circle" src="images/news-3.png" alt="Generic placeholder image" width="35" height="35">
				<div class="news-body float-right">
					<strong>Lorem ipsum dolor.</strong> <br>
					<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere voluptatum vero in, fuga facilis nisi.</small>
				</div>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="clearfix news-item">
				<img class="float-left mr-3 mt-2 rounded-circle" src="images/news-4.png" alt="Generic placeholder image" width="35" height="35">
				<div class="news-body float-right">
					<strong>Lorem ipsum dolor.</strong> <br>
					<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, maiores, nisi. Cum maiores culpa doloribus?</small>
				</div>
			</div>
		</li>
	</ul>
</marquee>