<!-- News -->
<marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
	<ul class="list-inline">
		{% for news in site.posts | limit: 4 %}
		
		<li class="list-inline-item">
			<div class="clearfix news-item">
				<img class="float-left mr-3 mt-2 rounded-circle" src="{{ news.thumb | prepend: site.baseurl }}" alt="{{ news.title }}" width="35" height="35">
				<div class="news-body float-right">
					<strong>{{ news.title }}</strong> <br>
					<small>{{ news.meta }}</small>
				</div>
			</div>
		</li>

		{% endfor %}
	</ul>
</marquee>